instastore/.env*
instastore/nginx_data/
instastore/nginx_letsencrypt/
*.sqlite3
*.sqlite
__pycache__/
*.pyc
.env
# Node.js
node_modules/
npm-debug.log

# Tailwind output (Optional - if you build on server)
# static/css/styles.css