# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
local_settings.py
db.sqlite3
*.sqlite3   
db.sqlite3-journal

# Static & Media
/media/
/staticfiles/

# UI & OS files
.DS_Store
Thumbs.db
