name: Docker Build Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and test
        uses: docker/build-push-action@v5
        with:
          context: ./instastore           # <--- مسیر پوشه پروژه
          file: ./instastore/Dockerfile   # <--- مسیر دقیق داکرفایل
          push: false
          tags: instastore:test